<header>
  <nav>
    <ul>
      <li class="nav-top-left"><a href= "">Über uns</a></li>
      <li class="nav-top-left"><a href="">Presse</a></li>
      <li class="nav-top-left"><a href="">Karriere</a></li>
      <li class="nav-top-left"><a href="">Kontakt</a></li>
      <li class="nav-top-right"><a href="">login ></a></li>
      <li class="nav-top-right"><a href="">Geschäftskunden ></a></li>
    </ul>
    <ul>
      <li class="nav-bottom"><a href="">Energie</a></li>
      <li class="nav-bottom"><a href="">Wasser</a></li>
      <li class="nav-bottom"><a href="">Mobilität</a></li>
      <li class="nav-bottom"><a href="">Dienstleistungen</a></li>
    </ul>
  </nav>
</header>