$blue : #4169e1;
$black : #000;
$white : #fff;
$red : red;
$lightGray : #f3f6f7;
$darkGray: #e4e8e9;



.nav-top-left li {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    height: 30px;
    width: 320px;
}

.nav-top-left a {
    display: block;
    color: $black;
    text-decoration: none;
    margin: 10px;
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    height: 30px;
    width: 320px;
}



.nav-top-right li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 160px;
}

.nav-top-right a {
    display: block;
    color: $blue;
    text-decoration: none;
    margin: 10px;
    
}


#nav-bottom {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#nav-bottom li {
    float: left;
}

#nav-bottom a {
    display: block;
    color: $blue;
    text-decoration: none;
    margin: 10px;
}

