<div id="Home-Block">Home</div>
<div id="zurueck-zur-Detailansicht">zurück zur Detailansicht</div>
<h2 id="ueberschrift-Veranstaltung">Veranstaltung "Mein Weg zum Energiedetektiv"</h2>
<h4 id="ueberschrift-Altersstufe">Für die 4.-7.Jahrgangsstufe</h4>
<p id="beschreibung">
  Kurze Beschreibung, wenn geraucht. 
  Bavaria ipsum dolor sit amet Freibia heitzdog Biawabn oamai.
  An anbandeln Wiesn, Resi etza Schneid dei.
</p>
<button id="jetzt-anmelden">Jetzt anmelden</button>
<swa-register-form></swa-register-form>
