<div id="Home-Block">Home</div>
<div id="zurueck-zur-Detailansicht">< zurück zur Detailansicht</div>
<!--linke Seite-->
<h2 id="ueberschrift-Veranstaltung">{{headingEvent}}</h2>
<h4 id="ueberschrift-Altersstufe">{{headingAge}}</h4>
<p id="beschreibung">{{description}}</p>
<!--rechte Seite-->
<!--Icons müssen noch eingebunden werden-->
<p id="dateOfEvent">{{dateOfEvent}}</p>
<p id="timeOfEvent">{{timeOfEvent}}</p>
<p id="placeOfEvent">{{placeOfEvent}}</p>
<p id="freePlaces">{{freePlaces}} / 20 Plätze</p> 

<!-- Formular-->
<swa-register-form></swa-register-form>
