
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <h4>Angaben zur Schule</h4>
  <!--Name of School-->
  <div>
    <mat-form-field>
        <input [(ngModel)]="contact.nameOfSchool"
        name = "nameOfSchool"
        #nameOfSchool="ngModel"
        required
        minlength="3"
        matInput
        placeholder="Name der Schule">
    <mat-error *ngIf="nameOfSchool.hasError('required')">
       erforderliche Angabe
    </mat-error>
    <mat-error *ngIf="nameOfSchool.hasError('minlength')">
       Mindestlänge: 3 Zeichen
    </mat-error>
    </mat-form-field>
  </div>
  <!--Street and Number-->
  <div>
    <mat-form-field>
      <input [(ngModel)]="contact.streetAndNumber"
      name = "streetAndNumber"
      #streetAndNumber="ngModel"
      required
      minlength="3"
      matInput
      placeholder="Straße und Nr.">
    <mat-error *ngIf="streetAndNumber.hasError('required')">
      erforderliche Angabe
    </mat-error>
    <mat-error *ngIf="streetAndNumber.hasError('minlength')">
      Mindestlänge: 3 Zeichen
    </mat-error>
    </mat-form-field>
  </div>
  <!--Postalcode-->
  <!-- maxlength funktioneirt nicht! muss überarbeitet werden-->
  <div>
    <mat-form-field>
      <input [(ngModel)]="contact.postalCode"
      name = "postalCode"
      #postalCode="ngModel"
      required
      minlength="5"
      maxlength="5"
      type="number"
      matInput
      placeholder="PLZ">
    <mat-error *ngIf="postalCode.hasError('required')">
      erforderliche Angabe
    </mat-error>
    <mat-error *ngIf="postalCode.hasError('minlength')">
      Genau 5 Zeichen
    </mat-error>
  </mat-form-field>
  </div>
  <!--City-->
  <div>
    <mat-form-field>
      <input [(ngModel)]="contact.city"
      name = "city"
      #city="ngModel"
      required
      minlength="2"
      matInput
      placeholder="Ort">
    <mat-error *ngIf="city.hasError('required')">
      erforderliche Angabe
    </mat-error>
    <mat-error *ngIf="city.hasError('minlength')">
      Mindestlänge: 2 Zeichen
    </mat-error>
  </mat-form-field>
  </div>
  <!-- School Class-->
  <div>
    <mat-form-field>
        <input [(ngModel)]="contact.schoolClass"
        name = "schoolClass"
        #schoolClass="ngModel"
        required
        minlength="2"
        matInput
        placeholder="Klasse">
    <mat-error *ngIf="schoolClass.hasError('required')">
        erforderliche Angabe
      </mat-error>
      <mat-error *ngIf="schoolClass.hasError('minlength')">
        Mindestlänge: 2 Zeichen
      </mat-error>
    </mat-form-field>
  </div>
  
  <h4>Ansprechpartner/in bzw. Lehrer/in</h4>

  <!--First Name-->
  <div>
      <mat-form-field>
        <input [(ngModel)]="contact.firstName"
               name="firstName"
               #firstName="ngModel"
               required
               minlength="3"
               matInput
               placeholder="Vorname">
        <mat-error *ngIf="firstName.hasError('required')">
          erforderliche Angabe
        </mat-error>
        <mat-error *ngIf="firstName.hasError('minlength')">
          Mindestlänge: 4 Zeichen
        </mat-error>
      </mat-form-field>
    </div>
    <!--Last Name-->
    <div>
      <mat-form-field>
        <input [(ngModel)]="contact.lastName"
          name="lastName"
          #lastName="ngModel"
          required
          minlength="3"
          matInput
          placeholder="Nachname">
        <mat-error *ngIf="lastName.hasError('required')">
        erforderliche Angabe
        </mat-error>
        <mat-error *ngIf="lastName.hasError('minlength')">
         Mindestlänge: 3 Zeichen
        </mat-error>
      </mat-form-field>
    </div>
    <!--Phone Number-->
    <div>
      <mat-form-field>
        <input [(ngModel)]="contact.phoneNumber"
          name="phoneNumber"
          #phoneNumber="ngModel"
          required
          minlength="8"
          type="number"
          matInput
          placeholder="Telefonnummer">
        <mat-error *ngIf="phoneNumber.hasError('required')">
        erforderliche Angabe
        </mat-error>
        <mat-error *ngIf="phoneNumber.hasError('minlength')">
         Mindestlänge: 8 Zeichen
        </mat-error>
      </mat-form-field>
    </div>
    <!--Mail-->
    <div>
      <mat-form-field>
        <input [(ngModel)]="contact.email"
        name="email"
          #email="ngModel"
          required
          minlength="6"
          type="email"
          matInput
          placeholder="Email">
        <mat-error *ngIf="lastName.hasError('required')">
          erforderliche Angabe
        </mat-error>
        <mat-error *ngIf="lastName.hasError('minlength')">
          Mindestlänge: 6 Zeichen
        </mat-error>
      </mat-form-field>
    </div>
    <!--Button-->
    <button type="submit"
    [disabled]="!heroForm.form.valid"
    mat-raised-button>
    Submit
</button>

<!-- next Page -->
<!-- muss noch implementiert werden, nachdem die Prüfung des Formulares positiv war, wird auf einen neue Seite weitergeleitet -->
<!-- es muss noch die Prüfung der maximalen teilnehmer eingebaut werden, laut Aufgabe mit Mock JSON-->
<div>
    <mat-form-field>
      <input [(ngModel)]="contact.howMany"
      name="howMany"
        #howMany="ngModel"
        required
        minlength="1"
        type="number"
        matInput
        placeholder="Anzahl der Teilnehmer">
      <mat-error *ngIf="howMany.hasError('required')">
        erforderliche Angabe
      </mat-error>
      <mat-error *ngIf="howMany.hasError('minlength')">
        Mindestlänge: 1 Zeichen
      </mat-error>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field>
        <input [(ngModel)]="contact.remarks"
        name="remarks"
          #remarks="ngModel"
          matInput
          placeholder="Anmerk./Sonstiges">
      </mat-form-field>
    </div>

</form>